html,
body {
  font-family: $body-font;
  color: $body-text;
  font-size: $font-size;
  line-height: $line-height;
}

@supports not (-webkit-touch-callout: none) {
  html {
    overflow-y: auto !important;
    overscroll-behavior: contain;
    ::-webkit-scrollbar-button {
      display: none;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #babac0;
      border-radius: 16px;
      border: 3px solid #fff;
    }
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    ::-webkit-scrollbar {
      background-color: #fff;
      width: 12px;
    }
  }
}

html body .v-application {
  background-color: $background-color !important;
  .mord.accent {
    background-color: inherit !important;
    color: inherit !important;
    border-color: inherit !important;
  }
  .container--fluid {
    max-width: 100% !important;
    padding: 0 !important;
  }
  // fonts
  font-family: $body-font !important;
  color: $body-text !important;
  font-size: $font-size !important;
  line-height: 1.25rem !important;
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $headings !important;
    color: $base-color !important;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.6rem;
    text-align: center;
    margin: 3rem auto 1.5rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    text-align: center;
    margin: 2.5rem auto 1rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin: 2rem auto 0.8rem;
  }
  h4 {
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin: 0 auto;
  }
  h5 {
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0 auto;
  }
  div.headline,
  div.title {
    font-family: $body-font !important;
    color: $base-color !important;
  }
  div.headline {
    font-weight: bold;
    line-height: 1.8rem;
  }
  div.title {
    font-size: 1.2rem !important;
    font-weight: normal;
    line-height: 1.4rem;
  }
  a {
    color: $base-color;
    letter-spacing: 0;
  }
  //button.v-btn{
  //  &.v-app-bar__nav-icon{
  //    min-width: initial !important;
  //  }
  //  min-width: 138px!important;
  //  font-family: MyriadProSemiBold,sans-serif !important;
  //  font-size: 18px!important;
  //  line-height: 23px;
  //  letter-spacing: 0;
  //  text-transform: none!important;
  //  &.main{
  //    border-radius: 6px;
  //    background-color: #0e1436!important;
  //    color: #fff;
  //  }
  //}
  //ul {
  //  list-style: none;
  //  padding: 0;
  //  margin: 0;
  //}
  //li {
  //  padding-left: 1em;
  //  text-indent: -.7em;
  //}
  //li::before {
  //  content: "• ";
  //  color: #FFB71A;
  //  margin-right: 0.3em;
  //}
  table.custom {
    border-collapse: collapse;
    font-size: 0.8rem;
    min-width: $content-width;
    width: $content-width;
    tbody {
      tr {
        background-color: $background-white;
        &:not(:last-child) {
          //border-bottom: 1px solid rgba(0,0,0,.12);
        }
        &:first-child {
          height: 56px;
          //border-width: 2px;
          user-select: none;
        }
        &:not(:first-child) {
          &:hover {
            background: $background-color;
          }
        }
        &:nth-of-type(odd) {
          background-color: $background-blue;
        }
        td {
          &:first-child {
            padding-left: 12px;
          }
          &:last-child {
            padding-right: 12px;
          }
          padding: 6px;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  :not(.v-input--checkbox) > .v-input__control > .v-input__slot {
    border-radius: 4px !important;
    //background-color: white !important;
    padding: 0 10px;
    &:before {
      border-style: none !important;
    }
    &:after {
      border-style: none !important;
    }
  }
  :not(.v-data-table-header-mobile__wrapper) > .v-text-field .v-label {
    color: #828597 !important;
    font-size: 14px !important;
    letter-spacing: 0;
    line-height: 16px !important;
    transform: translate(-10px, -25px) scale(1) !important;
  }
  .noselect {
    user-select: none;
  }
  .pointer {
    cursor: pointer;
  }
}
