$header-index: 99 !important;

//
$content-width: 856px;

$primary-font: 'MyriadPro', sans-serif;
$secondary-font: 'Roboto', sans-serif;

$headings: $secondary-font;
$body-font: $primary-font;

$font-size: 16px;

$line-height: 1.75rem;

$main-color: #0e1436;
$main-color-hard: #080c20;
$main-color-light: #3e425e;

$base-color: #0f1434;
$body-text: #646465;

$background-color: #f7f8fa;
$background-yellow: #ffb71a;
$background-blue: #f8fbff;
$background-white: #fff;
